body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero {
    background-image: url(../images/bg-3.jpg);
    height: 500px;
    background-size: cover; /*Encaixa a imagem sem deixar ela se duplicar*/
    background-position: right center;
}

.hero-content {
    margin: 50px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.hero-content p {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    border-bottom: 2px solid;
}

.hero-content p:hover{
    background-color: rgba(0, 0, 0, 0.8);
}